* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 300px;
  padding: 100px;
  background-color: rgb(131, 224, 153);
  text-align: center;
}

input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  letter-spacing: 2px;
}

button {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: yellow;
}
