* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #83e099;
}

.container {
  height: 100vh;
  padding: 20px;
  
  
  
}

form{
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}

input,select,textarea,button, label{
  margin-bottom: 20px;
}


th{
  border: 1px solid black;
}

.table{
  position: absolute;
  top: 10%;
  left: 30%;
  background-color: yellow;
}