*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  padding: 50px 400px;
}


form{
  text-align: center;
  margin-bottom: 50px;
}

input,.btn, .show_comments{
  border-radius: 12px;
  padding: 10px;
  border: 1px solid gray;
  background: none;
  letter-spacing: 1px;
}

.btn{
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(243, 241, 238);
}


.post,.comments{
  background-color: rgb(243, 241, 238);
}

.post p,.post h1{
  margin-bottom: 20px;
}

.show_comments{
  border: 1px solid black;
  margin: 0px 39%;
  cursor: pointer;
}



.comment{
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.comment p{
  margin-bottom: 10px;
}

.comment_user_email{
  color: gray;
}
.comment_text{
  font-size: 18px;
}
