*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  padding: 50px 400px;
}


form{
  text-align: center;
  margin-bottom: 50px;
}

input,.btn{
  border-radius: 12px;
  padding: 10px;
  border: 1px solid gray;
  background: none;
  letter-spacing: 1px;
}

.btn{
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(243, 241, 238);
}

.weather{
  
  
  background-color: rgb(233, 233, 211);
}

.container{
  display: flex;
  padding: 30px 0px;
  margin: 0px auto;
}

.col{
  width: 50%;
  text-align: center;
}

p{
  margin: 10px;
}
