* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 500px;
  display: flex;
}

.ghost_div {
  width: 200px;
  height: 200px;
}

.visible_div {
  background-color: yellow;
}
