*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  padding: 65px 45px 75px;
}

.navs{
  text-align: center;
}

.navs button{
  border: none;
  background-color: #fff;
}

.navs img{
  width: 30px;
  height: 30px;
  
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categories{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories li{
  list-style: none;
  margin-bottom: 15px;
}

.categories a{
  color: #6A983C;
  text-decoration: underline;
  font-size: 14px;
}

.categories button{
  width: 165px;
  height: 50px;
  border: none;
  font-size: 15px;
  background-color: #F5F5F5;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.card{
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image{
  width: 240px;
  margin-bottom: 15px;
  height: 180px;
  background-color: #F9F9F9;
border-radius: 12px;
}

.image img{
  width: 100%;
  height: 100%;
}

.card h2{
  margin-bottom: 5px;
}

.product_info{
  margin-bottom: 15px;
}

.product_price{
  margin: 0;
  font-weight: bold;
  margin-bottom: 15px;
}

.card  button{
  width: 90px;
  height: 36px;
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  font-size: 15px;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.orders{
  display: none;
}

.orders h1{
  text-align: center;
  margin-bottom: 50px;
}

.order{
  padding: 10px 0;
  
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.small_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.full_info{
  text-align: center;
}

.full_info p{
  margin-bottom: 10px;
}

.full_info p span{
  font-weight: bold;
}

.delete{
  border: none;
  background-color: red;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  width: 90px;
  height: 30px;
  cursor: pointer;
}

.order .invisible{
  display: none;
}

.buy_window{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  z-index: 3;
}

.buy_window:before {
  margin-top: -65px;
  background: rgba(0,0,0,0.7);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1
}

form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6A983C;
  border-radius: 6px;
}

form input, form select, form button, form label{
  margin-top: 20px;
  border-radius: 12px;
  padding: 10px;
}

form p {
  color: red;
  font-size: 18px;
}
